.header {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body {
  background-color: green;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
